@import '../../style/iconfont/iconfont.less';

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.l-icon-spin {
  line-height: 1;
  display: inline-block;
  animation: icon-spin 1.5s linear infinite;
  transform-origin: 50% 50%;
}