@import '../../style/mixin.less';

.l-divider {

  text-align: center;
  color: #9E9E9E;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-line {
    position: relative;
    width: 43px;
    height: 1px;
    margin: 0 10px;
    .border-top-1px(#9E9E9E);
  }

  &-icon {
    margin-right: 5px;

    .l-icon {
      font-size: 15px;
    }
  }

  &-text {
    flex-shrink: 0;
  }

}